<style>
  body{
    background-color: #222121
  }
</style>
<main class="h-screen w-screen bg-[#222121] px-32 pt-8">
  <h1 class="text-white font-bold text-2xl">Liste de Publications</h1>

  <div *ngIf="posts.length > 0; else loading" class="w-full grid grid-cols-[repeat(3,1fr)]">
    <product-card *ngFor="let post of posts" [title]="post.title" [body]="post.body"></product-card>
  </div>
 
  <ng-template #loading>
    <h3 class="text-white font-bold text-lg">En attente ... </h3>
  </ng-template>

</main>